<launch>
  <node pkg="edumip_balance_ros" name="bmasteractuator" type="edumip_balance_ros_keyboard"/>
  <node pkg="edumip_balance_ros" name="b1actuator" type="follow_1"/>		
  <node pkg="balancebots" name="commander" type="command"/>
  <node pkg="balancebots" name="botfollowerguide" type="botguider"/>
</launch>
